@charset "UTF-8";

.gradient-1, .dropdown-mega-menu .ext-link.link-1 a, .morris-hover, .datamaps-hoverover {
  background-image: linear-gradient(230deg, #759bff, #843cf6); }

.gradient-2, .dropdown-mega-menu .ext-link.link-3 a {
  background-image: linear-gradient(230deg, #fc5286, #fbaaa2); }

.gradient-3, .dropdown-mega-menu .ext-link.link-2 a, .header-right .icons .user-img .activity {
  background-image: linear-gradient(230deg, #ffc480, #ff763b); }

.gradient-4, .sidebar-right .nav-tabs .nav-item .nav-link.active::after, .sidebar-right .nav-tabs .nav-item .nav-link.active span i::before {
  background-image: linear-gradient(230deg, #0e4cfd, #6a8eff); }

.gradient-5 {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); }

.gradient-6 {
  background-image: linear-gradient(135deg, #97ABFF 10%, #123597 100%); }

.gradient-7 {
  background-image: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%); }

.gradient-8 {
  background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%); }

.gradient-anchor, .gradient-9 {
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); }

.gradient-10 {
  background-image: linear-gradient(230deg, #12151d, #8b8298); }

.gradient-anchor {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; }

.display-5 {
  font-size: 3rem; }

.opacity-5 {
  opacity: 0.5; 
  margin-left: 97px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #76838f;
  text-align: left;
  background-color: #F3F3F9; }